<!DOCTYPE html>
<html>
  <head>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo"><img src="/images/gblue.png" alt="Logo" style="width:110px;height:60px;"></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="student">Usuarios</a></li>
  <li><a href="/">Bienvenido</a></li>
  <li><a href="register">Regístrate</a></li>
  <li><a href="home">Sobre GÉnera.</a></li>
</ul>
</div>
  </nav>
    <title>GÉnera - Home</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <video width="1280" height="720" autoplay>
  <source src="/images/film.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
  </head>
  <body>
    <div align = "middle">
    <h2>Bienvenido a GÉnera.</h2>
    <h1>La nueva generación de estudiantes.</h1>
<div align = "middle">
  <p> GÉnera es la primera escuela en Puerto Rico que integra nuevas tecnologias
     con flexibilidad y profesionalidad enseñando a los estudiantes a desarrollar
     su propia empresa. Nosotros queremos romper el sistema de educación actual
     y hemos integrado un plan mucho más efectivo, el cual favoreserá estudiantes
      y maestros.GénEra siempre fue diseñado para el estudiante.</p>
    <table>
       <thead>
         <tr>
             <th></th>
             <th>Cursos</th>
             <th>Descripciones</th>
         </tr>
       </thead>

       <tbody>
         <tr>
           <br></br>
           <td><img class="circular--square" src="/images/entrepeneurship.jpeg" width="250" height="200" alt="empresarismo"></td>
           <td>Empresarismo</td>
           <td>En nuestra clases de empresarismo enseñamos
             a los estudiantes destrezas básicas y intermedias para empezar su negocio.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/tech.jpg" width="250" height="200" alt="tecnologia"</td>
           <td>Tecnología</td>
           <td>Ya que somos centralizados en tecnología, fue casi mandatorio añadir una clase que enseñara como armar y construir computadoras. Entender nuevos sistemas de electricidad y hasta codificar su propia página.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/literatura.jpeg" width="250" height="200" alt="literatura"</td></td>
           <td>Literatura</td>
           <td>¡La escritura! ¡Que mejor clase que leer y escribir libros! En esta clase tienes la oportunidad de escribir y publicar su propio libro. </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/language.jpeg" width="250" height="200" alt="lenguaje"</td></td>
           <td>Lenguaje</td>
           <td>Nosotros ofrecemos diferentes lenguajes como: inglés, español, francés, italiano y mandarino. ¡Estas clases profesionales te llevarán de 0 al 100!  </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/materials.jpeg" width="250" height="200" alt="robotics"</td></td>
           <td>Robótica</td>
           <td>Si estas interesado en la robotica y quieres entrar a un equipo, este es el momento.Pues considera entrar nuestro único equipo de FLL (First Lego League) o para una experiencia más avanzada considera tuercas y tornillos en nuestro equipo de FTC (First Tech Challenge)</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/sciencia.jpeg" width="250" height="200" alt="ciencia"</td></td>
           <td>Ciencias</td>
           <td>Nuestro curso avanzado de ciencia explica quimica, biología y botanica. Todas estas clases van a corde y enseña a los estudiantes otra espectativa de las ciencias.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/mathematica.jpeg" width="250" height="200" alt="matemática"</td></td>
           <td>Matemática</td>
           <td>Nuestros cursos de matemática se han creado para dirigir los estudiantes a un comprendimiento superior de la aritmética. Estudiando algebra, geometria, trigonometria y estadistica. Con esta experiencia, nuestros estudiantes participarán en competencias.</td>         </tr>
         <tr>
           <td><img class="circular--square" src="/images/teatro.jpeg" width="250" height="200" alt="teatro"</td></td>
           <td>Teatro</td>
           <td>¡Luces, cámara, acción! En la clase de teatro tú y tus amigos tendrán la experiencia de estar en el estadio y enseñar tu talento. </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/orchestra.jpeg" width="250" height="200" alt="orquestra"</td></td>
           <td>Orquesta</td>
           <td>¡El sonido bello en unison! Aprende piano, violín y tus instrumentos favoritos. La clase de teatro y orquesta colaboran juntos.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/history.jpg" width="250" height="200" alt="historia"</td>
           <td>Historia</td>
           <td>¡Hoy hacemos historia con GénEra! Pero en realidad, nuestros cursos de historia te transportan a eventos historicos. </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/film.jpg" width="250" height="200" alt="cinematografía"</td>
           <td>Cinematografía</td>
           <td>Con camaras y cinematografos profesionales, ofrecemos una experiencia única dando la oportunidad aquellos que siempre han querido hacer una pelicula o promo. También vas a pasar por
             todas las etapas de desarollo en una película.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/drawing.jpeg" width="250" height="200" alt="dibujo"</td>
           <td>Dibujo</td>
           <td>Usando los últimos modelos de las tableta Wacom y programas como Adobe Illustrator y Photoshop, ofrecemos un tiempo para que el estudiante se sienta y pueda expresar sus emociones a traves del arte.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/fashion.jpeg" width="250" height="200" alt="tejida"</td>
           <td>Costura</td>
           <td>En nuestras propias clases de costura, los jovenes desarollan sus propios trajes y vestimenta para el final de curso en un desfile de ropa.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/cooking.jpeg" width="250" height="200" alt="cocina"</td>
           <td>Cocina</td>
           <td>¡Que mejor que ir a cocinar y comer! Arroz, habichuelas, pollo, mofongo, mangú y muchas cosas más.¡Cocina con pasión!</td>
         </tr>
         <tr>
         <td><img class="circular--square" src="/images/arquitectura.jpeg" width="250" height="200" alt="arquitectura"</td>
         <td>Arquitectura</td>
         <td>En nuestra propia clase de arquitectura los jovenes entenderán el manejo de materiales como cemento, metal y otras herramientas para construir.
           Usando programas como Sketch3D y Layout, los estudiantes podrán hacer las creaciones de sus sueños.</td>
       </tr>
       </tbody>
     </table>
  </div>
  <div align="middle">
  <a class="waves-effect waves-light btn" href="register">Más información.</a>
  <br></br>
  <a class="waves-effect waves-light btn" href="pres2">Próxima Página</a>
  <br></br>
  <a class="waves-effect waves-light btn" href="home">Arriba</a>
  </div>
  <br></br>
    <img src="/images/school6k.jpeg" width="1280" height="720" alt="school">
  </body>
</html>
