<!DOCTYPE html>
<html>
  <head>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo"><img src="/images/gblue.png" alt="Logo" style="width:110px;height:60px;"></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href=""></a></li>
  <li><a href="home">Conoce GÉnera.</a></li>
  <li><a href="register">Matricular</a></li>
  <li><a href="/">Bienvenido</a></li>
</ul>
</div>
  </nav>
    <title>Génera - Home</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <img src="/images/school6k.jpeg" width="1280" height="720" alt="school">
  </head>
  <body>
    <div align = "middle">
    <h2>Bienvenido a Génera.</h2>
    <h1>La nueva generación de estudiantes.</h1>
<div align = "middle">
  <p> Génera es la primera escuela en Puerto Rico que integra nuevas tecnologias con flexibilidad y profesionalidad ensenando los estuadiantes a desarrollar su propia empresa. Nosotros queremos romper el sistema de educación actual y hemos integrado un plan mucho mas efectivo, el cual favoreserá estudiantes y los maestros.GénEra siempre fue diseńado para el estudiante. Si quiere más información sobre nuestros cursos. Siga bajando en nuestra página.</p>
    <table>
       <thead>
         <tr>
             <th></th>
             <th>Cursos</th>
             <th>Descripciones</th>
         </tr>
       </thead>

       <tbody>
         <tr>
           <br></br>
           <td><img class="circular--square" src="/images/entrepeneurship.jpeg" width="250" height="200" alt="empresarismo"></td>
           <td>Empresarismo</td>
           <td>En nuestra clase de empresarismo enseńamos
             a los estudiantes destrezas básicas y intermedias para empezar su negocio.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/tech.jpg" width="250" height="200" alt="tecnologia"</td>
           <td>Tecnología</td>
           <td>Ya que somos centralizados en tecnología, fue casi mandatorio ańadir una clase que enseńa como armar, y construir computadoras. Entender nuevos sistemas de electricidad y hasta codificar su propia página!</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/literatura.jpeg" width="250" height="200" alt="literatura"</td></td>
           <td>Literatura</td>
           <td>La escritura! Cual mejor clase que leer y escribir libros! En esta clase tienes la oportunidad de escribir y publicar su propio libro. </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/language.jpeg" width="250" height="200" alt="lenguaje"</td></td>
           <td>Lenguaje</td>
           <td>Nosotros ofrecemos diferentes leguages de inglés, espańol, francés, italiano, y mandarino! Estas clases profesionales te llevaran de 0 a 100!  </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/materials.jpeg" width="250" height="200" alt="robotics"</td></td>
           <td>Robótica</td>
           <td>Si eres interesado en la robotica, y quieres entrar un equipo. Pues considera entrar nuestro único equipo de FLL (First Lego League) para robótica con lego. O para una experiencia más advanzada considera tuercas y tornillos en nuestro equipo de FTC (First Tech Challenge)!</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/sciencia.jpeg" width="250" height="200" alt="ciencia"</td></td>
           <td>Ciencias</td>
           <td>Nuestro curso advanzado de ciencia explica chemistria, biología y botanía! Todas estas clases van muy en definición y enseńa los estudiantes otra espectativa de las ciencias.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/mathematica.jpeg" width="250" height="200" alt="matemática"</td></td>
           <td>Matemática</td>
           <td>Nuestros cursos de matemática se han hecho para dirigir los estudiantes a un comprendimiento superior de la aritmética. Estudiando algebra, geometria, trigonometria y estadistica. Con esa experiencia, nuestros estudiantes irán a todas las competencias!</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/teatro.jpeg" width="250" height="200" alt="teatro"</td></td>
           <td>Teatro</td>
           <td>¡Luces, cámara, acción! En la clase de teatro, tú y tus amigos tendrán la experiencia de estar en el estadio y enseñar tu talento! </td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/orchestra.jpeg" width="250" height="200" alt="orquestra"</td></td>
           <td>Orquesta</td>
           <td>¡El sonido bello en unison! Aprende piano, violín y tus instrumentos favoritos! Podras ser parte del teatro, pero no en el estadio. La clase de teatro y orchestra trabájan juntas, casi como una!</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/history.jpg" width="250" height="200" alt="historia"</td>
           <td>Historia</td>
           <td>¡Hoy hacemos historia! GénEra ha abierto! Pero en realidad, nuestros cursos de historia dan eventos historicos bien definidos. Y siempre educamos con los datos correctos más recientes.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/film.jpg" width="250" height="200" alt="cinematografía"</td>
           <td>Cinematografía</td>
           <td>Con camarás y cinematografos profesionales, ofrecemos una experiencia única dando la oportunidad a ellos que siempre han querido hacer una pelicula o promo. También vas por todas las etapas de desarollando una película.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/drawing.jpeg" width="250" height="200" alt="dibujo"</td>
           <td>Dibujo</td>
           <td>Usando los últimos modelos de las tableta Wacom y programas como Adobe Illustrator y Photoshop, ofrecemos un tiempo para que el estudiante se sienta y pueda expresar sus emociones y pensamientos en su propio dibujo.</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/fashion.jpeg" width="250" height="200" alt="tejida"</td>
           <td>Tejida</td>
           <td>En nuestras propias clases de tejida, nuestros jovenes desarollan sus propios trajes y vestimenta y a su finalización se estrenarán en una presentación de vestimenta!</td>
         </tr>
         <tr>
           <td><img class="circular--square" src="/images/cooking.jpeg" width="250" height="200" alt="cocina"</td>
           <td>Cocina</td>
           <td>Que mejor que ir y cocinar y comer! Que rico comer! Arroz, habichuelas, pollo, mofongo, mangu, nos encanta comer! Y pues claro, tenemos un curso de cocina. Cocina tu pasión!</td>

       </tbody>
     </table>
  </div>
  </body>
</html>
