<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo"><img src="/images/gblue.png" alt="Logo" style="width:110px;height:60px;"></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="student">Usuarios</a></li>
  <li><a href="/">Bienvenido</a></li>
  <li><a href="register">Regístrate</a></li>
  <li><a href="home">Sobre GÉnera.</a></li>
</ul>
</div>
  </nav>
  <body>
  <link rel='stylesheet' href='/stylesheets/style.css' />


<div align="middle">
  <video width="1280" height="720" autoplay>
<source src="/images/generaintro.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<br></br>
<h2> ¿Por qué? </h4>
<h4>"Educación del futuro."</h4>
<p>
  El sistema educativo ya no es efectivo y necesita evolucionar. Por ejemplo hay
   reglas muy estrictas, hay mucho materia irrelevante. Existen muchos estudiantes
   embotelladores y la vestimenta es desagradable.
   <p>¡Bienvenido a GénEra, el rebelde de las escuelas!</p>
<p2>____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________<p2>

<br></br>
<h2>¿Como?</h2>
<h4>"El gran paso a una mejor educación."</h4>
  <p> Génera es la primera escuela en Puerto Rico que integra nuevas tecnologias con
     flexibilidad y profesionalidad enseñando los estuadiantes a desarrollar su propia empresa.
     Nosotros queremos romper el sistema de educación actual y hemos integrado un plan mucho más
     efectivo, el cual favoreserá estudiantes y los maestros. </p>
</p>
<p2>____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________<p2>
<br></br>
<h2>¿Como funciona?</h2>
<h4>"La nueva generación de estudiantes."</h4>
 <p>
   Nosotros dejamos que el estudiante seleccione sus clases en ciertos periodos para
              que el individuo pueda desarollarse en lo que le apasiona. Y le pagamos
              a los maestros un salario competitivo, pensamos eso porque son ellos
              los que educan el futuro.
 </p>

<br></br>
</div>

<p2>____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________<p2>
  <br></br>
<div align="middle">


<div align="middle">
<a class="waves-effect waves-light btn" href="register">Más información.</a>
<br></br>
<a class="waves-effect waves-light btn" href="home">Próxima Página</a>
<br></br>
<a class="waves-effect waves-light btn" href="/">Arriba</a>
</div>

<br></br>

  </body>
  <footer>
    <br></br>
    <div align = "middle">
    <p> GénEra y todos sus bienes legítimamente pertenecen a AltConcepts y sus accionistas. </p>
    <br></br>
    <br></br>
    <br></br>
    <img src="/images/g.png" alt="Logo">
  </div>
  </footer>
</html>
