<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Viability - Genera</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <nav>
<div class="nav-wrapper">
<a href="genera.png" class="genera.png">Genera</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href=></a></li>
  <li><a href=></a></li>
  <li><a href=></a></li>
  <li><a href=></a></li>
</ul>
</div>
  </nav>
  </head>
  <body>
<h1>Como es viable?<h1>
  <p>Esta idea is viable porque ya tenemos las personas, technología, y las herramientas para lanzar un proyecto como el nuestro. Con todo eso podemos proveer la mejor education en Puerto Rico, ayudando el estudiante y sus carreras.</p>
  </body>
  <footer>
    <a class="waves-effect waves-light btn"  href= "home" >Home<hgroup>
   </hgroup></a>
  </footer>
</html>
