<!DOCTYPE html>
<html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo"><img src="/images/gblue.png" alt="Logo" style="width:110px;height:60px;"></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href=""></a></li>
<li><a href="student">Vida Estudiantil</a></li>
<li><a href="register">Regístrate</a></li>
<li><a href="home">Bienvenido</a></li>
</ul>
</div>
</nav>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<p></p>
     <img src="/images/ge.png" alt="Logo" style="width:1280px;height:610px;">
   <div align= "middle">
     <h2>Anuncio de Facebook</h2>
  <p>Nuestro anuncio de facebook describe un poco sobre la escuela y da información sobre nuestro open house el 20 de agosto del 2020. Pensamos que un anuncio en Facebook seria mas efectivo porque muchas mamás que tienen hijos que están en séptimo o adelante tienen una edad de 30-40 años en promedio. Estadísticas de Facebook enseñan que hay más mujeres que hombres en Facebook y que 29% de la plataforma son de años 25-34, números que caen en nuestros márgines.  </p>

  <p>Es decir que:
  </p>
  <ul>
  <li>Tenemos el mercado!</li>
  <li>Hay dinero!</li>
  <li>Las padres querán invertir!</li>

  </div>
   <div align= "middle">
<p>__________________________________________________________________________________________________________________________________________________________________<p>
   <img src="/images/GENERABANNER.png" alt="Logo" style="width:1265px;height:750px;">
   <p>Esta escuela esta basada en la tecnología. Esto ayuda a nuestros estudiantes con su salud y la innovación
     de la tecnología .Nuestros maestros tienen como meta hacer a sus estudiantes mejor cada dia.
     Este projecto todavia no se ha comletado  pero necesitamos su opinion.

<p>__________________________________________________________________________________________________________________________________________________________________<p>
         <h2> Equipo </h2>
     <p>Nuestro equipo se compone de cinco integrantes:
     <ul>
       <li>Daniel Balaguer</li>
       <li>Rose Arroyo</li>
       <li>Amaury González</li>
       <li>Gian Villarini</li>
       <li>Sebastián Caro</li>
     </p>
     </ul>

     <p2>Juntos somos ALTConcepts, en la pasada semana hemos trabajado <br>
     en equipo para traerles nuestra gran creación llamada, GénEra.</p2>
     </head>
     </div>
<p>__________________________________________________________________________________________________________________________________________________________________<p>

 <div align="middle">
 <a class="waves-effect waves-light btn" href="home" >Proxima Página</a>
 <br></br>
 <a class="waves-effect waves-light btn" href="pres">Arriba</a>
 <br></br>

 </div>
  </body>
</html>
