<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo"><img src="/images/gblue.png" alt="Logo" style="width:110px;height:60px;"></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
</div>
  </nav>
  <body>
  <link rel='stylesheet' href='/stylesheets/style.css' />


<div align="middle">
  <img src="https://static.pexels.com/photos/21696/pexels-photo.jpg" width="1275" height=" 700"alt="nope">
<h2>GénEra</h2>
<p>Génera es la primera escuela en Puerto Rico que integra nuevas tecnologias con flexibilidad y profesionalidad ensenando los estuadiantes a desarrollar su propia empresa. </p>


<h2> Nuestra Misión </h2>
<p>La misión de GénEra es desarrollar individuos en cuales hagan y deslloren sus ideas en empresas.El futuro on corporationes y las corporationes son el futuro de Puerto Rico.</p>
</div>
<div align="middle">


    <h2> Equipo </h2>
<p>Nuestro equipo se compone de cinco integrantes:
<ul>
  <li>Daniel Balaguer</li>
  <li>Rose Arroyo</li>
  <li>Amaury González</li>
  <li>Gian Villarini</li>
  <li>Sebastián Caro</li>
</p>
</ul>

<p>Juntos somos ALTConcepts, en la pasada semana hemos trabajado <br>
en equipo para traerles nuestra gran creación llamada, GénEra.</p>
</head>
</div>

<div align="middle">
<a class="waves-effect waves-light btn" href="pres2" >Proxima Pagina</a>
<br></br>
<a class="waves-effect waves-light btn" href="pres">Arriba</a>
<br></br>
<p> GénEra and all of its property rightfully belong to AltConcepts and it's subsidiaries.
  <img src="/images/g.png" alt="Logo">
</div>

<br></br>

  </body>
</html>
