<!DOCTYPE html>
<html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
<nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo"><img src="/images/gblue.png" alt="Logo" style="width:110px;height:60px;"></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="student">Usuarios</a></li>
<li><a href="/">Bienvenido</a></li>
<li><a href="register">Regístrate</a></li>
<li><a href="home">Sobre GÉnera.</a></li>
</ul>
</div>
</nav>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div align = "middle">
    <link rel='stylesheet' href='/stylesheets/style.css' />

<p></p>
     <img src="/images/ge.png" alt="Logo" style="width:1280px;height:610px;">
   </div>
   <div align= "middle">
     <h2>Anuncio de Facebook</h2>
  <p>Nuestro anuncio en Facebook describe un poco sobre la escuela y da
    información sobre nuestra Casa abierta el 20 de agosto del 2020.
    Pensamos que un anuncio en Facebook sería más efectivo porque: </p>
  <li>Madres con hijos cursando desde séptimo a duodécimo.</li>
  <li>Aproximadamente tienen 30-40 años.</li>
  <li>Hay más mujeres en la red social.</li>
  <li>Facebook tiene más jovenes desde 25-34 años.</li>
  <p>Como pueden ver nuestro plan es efectivo.</P>

  </div>
   <div align= "middle">
<p>__________________________________________________________________________________________________________________________________________________________________<p>

   <img src="/images/GENERABANNER.png" alt="Logo" style="width:1265px;height:750px;">
   <h2>Nuestro compromiso:</h2>
   <p>Esta escuela esta basada en la tecnología. Esto ayuda a nuestros estudiantes
     con su salud y facilita las herramientas para realizar sus ideas. Nuestros
     maestros se centralizan en el emprendimiento del estudiante.


<p>__________________________________________________________________________________________________________________________________________________________________<p>
         <h2> Equipo </h2>
     <p>Nuestro equipo se compone de cinco soñadores:
     <ul>
       <li>Daniel Balaguer</li>
       <li>Rose Arroyo</li>
       <li>Amaury González</li>
       <li>Gian Villarini</li>
       <li>Sebastián Caro</li>
     </p>
     </ul>

     <p2>Y para finalizar juntos somos ALTConcepts, en la pasada semana hemos trabajado <br>
     en equipo para traerles nuestra gran creación llamada, GÉnera.</p2>

     <h1>Gracias</h1>
     </head>
     </div>
<p>__________________________________________________________________________________________________________________________________________________________________<p>

 <div align="middle">
 <a class="waves-effect waves-light btn" href="register">Más información.</a>
 <br></br>
 <a class="waves-effect waves-light btn" href="pres2">Arriba</a>
 <br></br>

 </div>
  </body>
</html>
