<!DOCTYPE html>
<html>
  <head>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <title>Test</title>
    <nav>
  <div class="nav-wrapper">
  <a href="#" class="brand-logo">Génera</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="student">Vida Estudiantil</a></li>
  <li><a href="contact">Contáctenos</a></li>
  <li><a href="register">Regístrate</a></li>
  <li><a href="welcome">Bienvenido</a></li>
  </ul>
  </div>
    </nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  </body>
</html>
